<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <div>
            <a href="{{ .Site.Home.RelPermalink }}privacy-policy" style="color: white;">Privacy Policy</a>
          </div>
          <div>
            <a href="{{ .Site.Home.RelPermalink }}sms-terms-of-use" style="color: white;">SMS Terms of Use</a>
          </div>
          {{ if .Site.Data.social }}
            <div><h4>Join us on our social media channels</h4>
            {{ partial "social.html" . }}
          </div>
          {{ end }}
          {{ with .Site.Params.footer.copyright_text }}
            <div class="copyright">{{ . | safeHTML }}</div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
